.admin-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  #fsheader {
    color: white;
    background-color: #0a4583;
    border: none;
    text-decoration: none;
    margin-right: 1em;
    border-radius: 10em;
    padding: 0.5em 1em;
  }
  
  .search-section, .users-section, .posts-section {
    margin-bottom: 40px;
  }
  
  .search-section form, .users-section form, .posts-section form {
    margin-bottom: 20px;
  }
  
  .search-section input[type="text"], .search-section button,
  .users-section button, .posts-section button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-section button, .users-section button, .posts-section button {
    background-color: #0055B7;
    color: white;
    cursor: pointer;
  }
  
  .search-section button:hover, .users-section button:hover, .posts-section button:hover {
    background-color: #003366;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .admin-container {
        margin: 10px;
        padding: 10px;
    }
  
    table th, table td {
        padding: 8px;
    }
  }

  /* Logout button styles */
.logout button {
  background-color: #cc0000;
  width: 100%;
}

.logout button:hover {
  background-color: #bb0000;
}