body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container{
    display:flex;
    flex-direction: row;
    height: 100vh;
    /* background-color: white;   */
    /*background-color: black;   CHANGE */
    
}

.left{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0055B7;  */
    /* background-color: white; */
    margin: 10px;
    border-radius: 15px;
    background-image: url("ubcoBG.png");
}
.right {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100vh;
}

.login{
    width: 400px;
    display: flex;
    margin:auto;
}

.login form {
    max-width:400px;
    width: 100%;
    background-color: white;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login label{
    align-self:center;
    margin-bottom: 10px;
    width:100%;
}

.login input{
    width: 100%;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#loginsubmit{
    width: 50%;
    padding:10px;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/* REGISTRATION FORM  */
.reg form {
    max-width:25em;
    width: 25em;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reg label{
    align-self:center;
    margin-bottom: 10px;
    width:100%;
}

.reg input, button {
    width: 100%;
    padding:10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.pwError{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button {
    padding: 15px;
    background-color: #0055B7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.pwe{
    margin-bottom: 0.5em;
}

.welcome{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: block;
    font-size: 75px;
    border-bottom: 0;
}