html, body {
    margin: 0;
    padding: 0;
    font-family: serifGeorgia, 'Times New Roman', Times;
    /* background-color: white; */
    background-color: #7596bd;
    color: white;
}

header {
    background-color: #2173c9;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input, header button, .topic-button, .post-button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #7596bd;
    /* color: white; */
    color: black;
    cursor: pointer;
}

header input::placeholder {
    font-weight: 700;
}

header input {
    flex-grow: 1;
}
/* ////////////////////////// Big FreshStart header//////////////////////// */
#fsheader {
    color: white;
    background-color: #0a4583;
    border: none;
    text-decoration: none;
    margin-right: 1em;
    border-radius: 10em;
    padding: 0.5em 1em;
}

/* ////////////////////// TOPIC LIST - LEFT HAND SIDE NAV - //////////////////*/
#topics-list {
    background-color: #2173c9;
    display: flex;
    flex-direction: column;
    float: left;
    height: 100vh;
    min-height: 100%;
    width: 10%;
}
#disc-header {
    background-color: #0a4583;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#topics-list button{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    background-color: #7596bd;
    border-radius: 1em;
    border: none;
    transition: all 0.3s ease-in-out;
}

#topics-list button:hover, #topics-list button.active {
    background-color: #3e3f3f;
    margin-left: -15px;
    padding-left: 30px;
    border-right: 5px solid #1abc9c;

}

/* /////////////////// CREATE A POST  ///////////////////////////////////// */
/* main content has the createPost form and post-container */
#main-content {
    display: flex;
    flex-direction: column;
}

#post-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
#postCreationForm form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1em;
    background-color: #2173c9;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5em;
}

#postCreationForm form input, #postCreationForm form textarea, #postCreationForm form select{
    padding: 0.5em;
    border-radius: 0.5em;
    /* border: 1px solid black; */
}
/* /////////////////// DISPLAYING POSTS ///////////////////////////////////// */
.post-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    background-color: #2173c9;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post img {
    max-width: 100%;
    height: auto;
}

.comment {
    margin-top: 10px;
    background-color: #3d5981;
    padding: 10px;
    border-radius: 5px;
}
/* /////////////////////// MEdia Queries ////////////////////////////////////// */

@media (max-width: 768px) {
    .post {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .post {
        width: 100%;
    }

    .topic-list, .post-container {
        padding: 10px;
    }

    header input, header button, .topic-button, .post-button {
        padding: 8px;
        font-size: 0.9em;
    }
}

@media (max-width: 1900px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 1500px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1400px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}