html, body {
    margin: 0;
    padding: 0;
    font-family: serifGeorgia, 'Times New Roman', Times;
    /* background-color: white; */
    background-color: #7596bd;
    color: white;
    /* overflow: scroll; */
}

header {
    background-color: #2173c9;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input, header button, .topic-button, .post-button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* background-color: #7596bd; */
    /* color: white; */
    color: black;
    cursor: pointer;
}

header input::placeholder {
    font-weight: 700;
}

header input {
    flex-grow: 1;
}
/* ////////////////////////// Big FreshStart header//////////////////////// */
#fsheader {
    color: white;
    background-color: #0a4583;
    border: none;
    text-decoration: none;
    margin-right: 1em;
    border-radius: 10em;
    padding: 0.5em 1em;
}

/* ////////////////////// TOPIC LIST - LEFT HAND SIDE NAV - //////////////////*/

/* /////////////////// CREATE A POST  ///////////////////////////////////// */
/* main content has the createPost form and post-container */
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;


}

#main-content {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    height: 100vh;
    /* float: left; */
    width: 35%;
}

#post-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
#topics-list {
    background-color: #2173c9;
    display: flex;
    flex-direction:column;
    width: 100%;
    /* flex:1; */
}
#postCreationForm{
    height: 100%;
    width: 100%;
    padding: 0;
    /* flex: 1; */
}

#postCreationForm form {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:flex-start;
    align-items:center;
    /* margin: 2em 15% 1em; */
    /* margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1em; */
    background-color: #2173c9;
    /* background-color: white; */
    /* padding: 1em 2em; */
    /* padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em; */
    /* border-radius: 5em; */
    height: 100%;
}
#postCreationForm form input,
#postCreationForm form textarea,
#postCreationForm form select {
    margin-bottom: 2em;
    border-radius: 0.5em;
}
#imgSel{
    display: flex;
    flex-direction: row;
    width: 80%;
}
#imgSel input, select{
    height: 3em;
}
#postCreationForm form textarea{
    height: 10em;
    width: 80%;
}
#tcss{
    height:2em;
    width: 80%;
}
#cpbtn{
    font-size: 5em;
    font-weight: 700;
    color: white;
    background-color: #0a4583;
    height: 5em;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.disc-header {
    background-color: #0a4583;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
.c-header {
    color: white;
    background-color: #0a4583;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
#cp-header {
    background-color: #0a4583;
    margin: 0%;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
#topics-list button {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    background-color: #7596bd;
    border-radius: 1em;
    border: none;
    transition: all 0.3s ease-in-out;
}

#topics-list button:hover,
#topics-list button.active {
    background-color: #3e3f3f;
    margin-left: 2em;
    padding-left: 30px;
    border-right: 5px solid #1abc9c;

}



/* /////////////////// DISPLAYING POSTS ///////////////////////////////////// */
#post-container {
    padding-top: 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    background-color: #7596bd;
    height: 100vh;
}

.post {
    background-color: #2173c9;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#post img {
    max-width: 100%;
    height: auto;
}

#comment {
    margin-top: 10px;
    background-color: #3d5981;
    padding: 10px;
    border-radius: 5px;
}
/* /////////////////////// MEdia Queries ////////////////////////////////////// */

@media (max-width: 768px) {
    .post {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .post {
        width: 100%;
    }

    .topic-list, .post-container {
        padding: 10px;
    }

    header input, header button, .topic-button, .post-button {
        padding: 8px;
        font-size: 0.9em;
    }
}

@media (max-width: 1900px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 1500px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1400px) {
    #postCreationForm form {
        display: flex;
        flex-direction: column;
    }
}