body {
    margin: 0;
    padding: 0;
    font-family: serifGeorgia, 'Times New Roman', Times;
    background-color: #2173c9;
    color: black;
}

.user-settings {
    background-color: #2173c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: serifGeorgia, 'Times New Roman', Times;
    background-color: #2173c9;
    color: black;
}
.user-settings>* {
    margin: 1em;
    
}
.user-settings form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-picture{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.profile-picture >*{
    margin-bottom: 1em;
}
.user-settings form input {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
}

.user-infor{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}